/* .form {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: 0 auto;
}
.form__fieldset {
  display: grid;
  gap: 1rem;
  border: none;
  padding: 0;
  margin: 0 0 1rem;
}
.form__label {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: #333;
}
.form__input {
  margin-top: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form__button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #3e78ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 1rem;
}
.form__checkbox {
  margin-right: 0.5rem;
} */
