.nav {
  display: flex;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
}

.nav__logo {
  max-height: 50px;
  height: auto;
  margin-right: 1.25rem;
  position: relative;
  left: 50px;
}

.nav__links {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: right;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.nav__link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  color: #3f96f3;
}
